/* CSS declarations go here */
html>body {
  background-color: rgb(200,210,246);
}
h1, h2, h3 ,h4 ,h5, h6 {
  font-family: 'Roboto Slab', serif;
}

p, a {
  font-family: 'Rubik', sans-serif;
}
.contenido{
  padding-right: 5vw;
  padding-left: 5vw;
}

.centered {
    margin-top: 6%;
    font-size: 5.5rem;
    align-items:center;
    justify-content:center;
}

.jumbotron {
    background-color: white;
}


.axis .domain {
  display: none;
}

.grafica{
margin-top: 1vw;
margin-bottom: 1vw;
}

.centro {
    margin: 0 auto;
    text-align: center;
}
.justificado{
  text-align: justify;
}

nav {
  background-color: #8599ea;
}

.jumbotron{
  background-color: white;
}

.btn-primary {
    color: #fff;
    background-color: #798fe6;
    border-color: #798fe6;
}


.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group>.input-group-append:last-child>.input-group-text:not(:last-child), .input-group>.input-group-append:not(:last-child)>.btn, .input-group>.input-group-append:not(:last-child)>.input-group-text, .input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text {
  color: white;
  background-color: #798fe6;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link{
  color: rgb(230, 230, 230);
  background-color: rgba(36, 41, 104, 0.61);
  cursor: pointer;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white;
    background-color: #001e96;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color:#FFFF00;
  height: 1px;
}
